.navigation-bar
  %ul
    %li
      %a{href: relativize('http://driscollbrookpress.com/')} Home
    %li
      %a{href: relativize('http://driscollbrookpress.com/books/')} Books
    %li
      %a{href: relativize('http://driscollbrookpress.com/about/')} About
    %li
      %a{href: relativize('http://driscollbrookpress.com/contact/')} Contact
