%nav
  %ul
    %li
      %a{href: relativize('http://driscollbrookpress.com/')} New Releases
    %li
      %a{href: relativize('http://driscollbrookpress.com/coming-soon/')} Coming Soon
    %li
      %a{href: relativize('http://driscollbrookpress.com/books/')} Available Now
    %li
      %a{href: relativize('http://driscollbrookpress.com/about/')} About
    %li
      %a{href: relativize('http://driscollbrookpress.com/contact/')} Contact
