.navigation-bar
  %ul
    %li
      %a{href: relativize('http://driscollbrookpress.com/')} New
    %li
      %a{href: relativize('http://driscollbrookpress.com/coming-soon/')} Coming Soon
    %li
      %a{href: relativize('http://driscollbrookpress.com/books/')} All Books
    %li
      %a{href: relativize('http://driscollbrookpress.com/about/')} About
    %li
      %a{href: relativize('http://driscollbrookpress.com/contact/')} Contact
