- wrap_layout :page do
  %article.post-page
    - link_to cover_url(current_page) do
      = image_tag cover_url(current_page), class: 'cover wrapped'
    = partial "layouts/book/header", locals: {book: current_page}
    = partial "layouts/book/body", locals: {body: yield}
    = partial "layouts/book/publication", locals: {book: current_page.data}

