- book = Book.new(current_page)
- wrap_layout :page do
  %article.book
    = partial 'layouts/page-title'
    = partial 'layouts/navigation'
    = partial 'layouts/description', locals: { book: book, cover_link: book.cover_link_to_cover_image }

