- wrap_layout :page do
  %article.catalog
    = partial 'layouts/page-title'
    = partial 'layouts/navigation'
    - catalog.each do |book|
      = partial 'layouts/book-title', locals: {book: book}
      = partial 'layouts/description', locals: {book: book, cover_link: book.cover_link}

