- selection = catalog.send(current_page.data.include)
- puts "#{current_page.data.include} includes"
- selection.each{|book| puts "Book: #{book.title}"}

- wrap_layout :page do
  - if selection.empty?
    .centered
      = yield
  - else
    %article.catalog
      - selection.each do |book|
        = partial 'layouts/description', locals: {book: book, cover_link: book.cover_link}

