---
title: Catalog
layout: catalog
permalink: /:path/:basename/
---
{% assign books = site.books %}
{% assign genres = site.data.genres %}
<section class='genres'>
<h2 class='title'>
<ul class='inline piped'>
{% for genre in genres %}
<li><a href='#{{ genre[0] }}' class='title'>{{ genre[1] }}</a></li>
{% endfor %}
</ul>
</h2>
</section>

{% for genre in genres %}
{% assign genre_books = books | in_genre: genre[0] %}
<section class='genre'>
<h2 class='boxed chrome title' id='{{ genre[0] }}'>{{ genre[1] }}</h2>
<section class='gallery'>
{% for book in genre_books %}
{% include book/linked-cover-image.html book=book %}
{% endfor %}
</section>
</section>
{% endfor %}
