{% assign ebook = include.book.ebook %}
{% assign paperback = include.book.paperback %}

<section class='publication'>
  <h3>Publication Details</h3>
  <p>Publication Date: {{ include.book.date | date: "%B %-d, %Y" }}</p>
  <p>
    Paperback {{ paperback.price }}
    {% if paperback.isbn %}
    | <span class='nobreak'>{{ paperback.isbn | isbn10: '-' }}</span>
    | <span class='nobreak'>{{ paperback.isbn | isbn13: '-' }}</span>
    {% endif %}
    {% if paperback.pages %}
    | <span class='nobreak'>{{ paperback.pages }} pages</span>
    {% endif %}
  </p>
  <p>
    Ebook {{ ebook.price }}
    {% if ebook.isbn %}
    | <span class='nobreak'>{{ ebook.isbn  | isbn10: '-' }}</span>
    | <span class='nobreak'>{{ ebook.isbn  | isbn13: '-' }}</span>
    {% endif %}
  </p>
</section>
