{% if include.book.includes %}
<section class='see-also'>
  <p>
    <strong>{{ include.book.title }}</strong>
    includes these fine stories:
  </p>
  <ul style='book-list'>
    {% for slug in include.book.includes %}
    <li>{{ site.books | with_slug: slug | book_link }}</li>
    {% endfor %}
  </ul>
  <p>Each story is also available as a standalone book.</p>
</section>
{% endif %}

{% if include.book.included_in %}
<section class='see-also'>
  <p>
    <strong>{{ include.book.title }}</strong>
    also appears with other fine stories in:
  </p>
  <ul style='book-list'>
    {% for slug in include.book.included_in %}
    <li>{{ site.books | with_slug: slug | book_link }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
