{% if include.book.includes %}
<div class='see-also'>
  <p>
    <strong>{{ include.book.title }}</strong>
    includes these fine stories:
  </p>
  <ul style='book-list'>
    {% for slug in include.book.includes %}
    <li>{{ slug }}</li>
    {% endfor %}
  </ul>
  <p>Each story is also available as a standalone book.</p>
</div>
{% endif %}

{% if include.book.included_in %}
<div style='see-also'>
  <p>
    <strong>{{ include.book.title }}</strong>
    also appears with other fine stories in:
  </p>
  <ul style='book-list'>
    {% for slug in include.book.included_in %}
    <li>{{ slug }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
