{% if include.book.stories %}
<section style='contents'>
  <p>
    <strong>{{ include.book.title }}</strong>
    includes these fine stories:
  </p>
  <ul style='book-list'>
    {% for slug in include.book.stories %}
    <li>{{ slug }}</li>
    {% endfor %}
  </ul>
  <p>Each story is also available as a standalone book.</p>
</section>
{% endif %}

{% if include.book.collections %}
<section style='collected-in'>
  <p>
    <strong>{{ include.book.title }}</strong>
    also appears with other fine stories in:
  </p>
  <ul style='book-list'>
    {% for slug in include.book.collections %}
    <li>{{ slug }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
