-if book.stories
  %section.contents
    %p
      %strong= book.title
      includes these stories:
    %ul.book-list
      - book.stories.each do |slug|
        - story = catalog.find(slug)
        %li= story.title_link 
    %p Each story is also available as a standalone book.

-if book.collections
  %section.collected-in
    %p
      %strong= book.title
      also appears with other fine stories in:
    %ul.book-list
      - book.collections.each do |slug|
        - collection = catalog.find(slug)
        %li= collection.title_link
