$body-width: 60rem;
$main-width: 40rem;
$main-width-percent: $main-width / $body-width * 100%;
$sidebar-width: $body-width - $main-width;
$sidebar-width-percent: $sidebar-width / $body-width * 100%;

$padding: 2rem;
$padding-percent: $padding / $main-width * 100%;

body {
  max-width: $body-width;
  margin: 0 auto;
}

main {
  float: left;
  width: $main-width-percent - 2 * $padding-percent;
  margin: 0 $padding-percent;
}

#sidebar {
  float: right;
  width: $sidebar-width-percent - $padding-percent;
  margin: 0 $padding-percent 0 0;
}

footer { clear: both; }

article + article { margin-top: 4rem; }
