%section.post-body
  = book.description
  -if book.stories
    %h2 Contents
    - book.stories.each do |story|
      %div #{title_link(story)}
    %p Each story is also available as a standalone book.
