- if book.price && book.price.paperback
  %p
    Paperback #{book.price.paperback}
    -if book.available == 'Now'
      = paperback_links(book).join(" | ")

- if book.price && book.price.paperback
  %p
    Ebook #{book.price.ebook}
    -if book.available == 'Now'
      = ebook_links(book).join(" | ")
