%nav
  %ul
    %li
      %a{ href: '/' } New Releases
    %li
      %a{ href: '/coming-soon/' } Coming Soon
    %li
      %a{ href: '/books/' } Available Now
    %li
      %a{ href: '/about/' } About
    %li
      %a{ href: '/contact/' } Contact
