$post-index-indent: 1em !default;
$post-list-separation: 1em !default;
$post-meta-separation: .5em !default;
$post-body-separation: 1em !default;

.post-list, .year, .month {
    padding-top: $post-list-separation;
    .post, .post-summary {
        padding-top: $post-list-separation;
        &:first-child { padding-top: 0; }
    }
}

.month {
    padding-left: $post-index-indent;
    .post-summary {
        margin-left: $post-index-indent;
    }
}

.post-meta {
    padding: $post-meta-separation 0;
}

.post-body {
    margin: $post-body-separation 0;
}
