$post-page-title-size: $page-title-size !default;

$post-list-title-size: $heading-size-large !default;
$post-list-h1-size: $heading-size-medium !default;
$post-list-h2-size: $heading-size-small !default;
$post-summary-title-size: $heading-size-medium !default;

$post-separator-color: $trim-color !default;
$post-meta-text-color: $trim-color !default;

$year-title-size: $heading-size-large !default;
$month-title-size: $heading-size-medium !default;
$post-index-title-color: $trim-color !default;

.post-meta {
    color: $post-meta-text-color;
}

.post-page {
    header {
        h1 { @include text-size($post-page-title-size); }
    }
}

.post-list {
    .post, .post-summary {
        border-top: 1px solid $post-separator-color;
        &:first-child { border-top: 0; }
    }

    .post {
        header {
            h1 { @include text-size($post-list-title-size); }
        }
        h1 { @include text-size($post-list-h1-size); }
        h2 {
            @include text-size($post-list-h2-size);
            font-variant: small-caps;
        }
    }

    .post-summary {
        header {
            h1 { @include text-size($post-summary-title-size); }
        }
    }
}

.year, .month {
    color: $post-index-title-color;
}

.year {
    h1 { @include text-size($year-title-size); }
}

.month {
    h1 {@include text-size($month-title-size); }
}
