---
---
@import 'layout';

$leading: 1.5;
$inter-paragraph-space: $leading * 1rem;

$text-font: Arial, Helvetica, sans-serif;
$text-size: 100%;
$banner-title-size: 3rem;
$title-size: 2rem;
$heading-1-size: 1.5rem;
$heading-2-size: 1.17rem;
$detail-text-size: .75rem;

$site-hue: 180;
$dark: hsl($site-hue, 100%, 20%);
$medium: hsl($site-hue, 20%, 60%);
$light: hsl($site-hue, 10%, 92%);
$lightest: hsl($site-hue, 5%, 98.5%);

html {
  background-color: $medium;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, li {
  line-height: $leading;
}

p, ul, ol, blockquote {
  margin: $inter-paragraph-space auto;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
  color: inherit;
}

blockquote {
  border: 1px solid $medium;
  background-color: $light;
  p, em em { font-style: italic; }
  em, em em em { font-style: normal; }
}

body {
  background-color: $lightest;
  font-family: $text-font;
  font-size: $text-size;
}

em, em em em { font-style: italic; }
em em { font-style: normal; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 { font-size: $heading-1-size; }
h2 { font-size: $heading-2-size; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

ol, ul { list-style: none; }
li { margin: 0; }


main {
  ol { list-style-type: decimal; }
  ul { list-style-type: disc; }
}

main, #sidebar {
  h1, h2, h3, h4, a { color: $dark; }
}

.banner {
  background-color: $dark;
  padding: .5em;
  font-size: $banner-title-size;
  font-weight: normal;
  color: $light;
}

.book-links {
  overflow: hidden;
  li {
    width: 48%;
    margin-bottom: .5em;
    &:nth-child(odd) { float: left; }
    &:nth-child(even) { float: right; }
  }
}

.boxed, .chrome {
  border-color: $medium;
  border-width: 1px;
  background-color: $light;
}

.boxed {
  border-style: solid;
  background-color: $light;
  padding: .5em 1em;
}

.hanging {
  margin-left: 1em;
  text-indent: -1em;
}

.centered { text-align: center; }

.chrome {
  border-top-style: solid;
  border-bottom-style: solid;
  font-weight: bold;
  color: $dark;
}

.heading {
  margin: 2rem 0 1rem;
}

.inline {
  margin-left: 0;
  display: inline;
  li {
    display: inline;
    margin-left: 0;
  }
}

.navlinks li + li::before { content: ' | '; }

.post-details {
  font-size: $detail-text-size;
}

.share {
  float: right;
  margin: 0 0 1em 1em;
  ul {
    margin: 0;
    list-style: none;
    font-size: $detail-text-size;
  }
}

.tags li + li::before { content: ', '; }

.title {
  font-variant: small-caps;
}
