---
...
$body-width: 60rem;
$left-column-width: 100% / 3;
$gutter-width: 2rem;

$site-hue: 210;
$dark: hsl($site-hue, 100%, 20%);
$medium: hsl($site-hue, 20%, 60%);
$light: hsl($site-hue, 10%, 92%);
$lightest: hsl($site-hue, 5%, 98.5%);

$leading: 1.5;
$inter-paragraph-space: $leading * 1rem;
$text-font: Arial, Helvetica, sans-serif;
$text-size: 100%;
$banner-title-size: 3rem;
$title-size: 2rem;
$heading-1-size: 1.5rem;
$heading-2-size: 1.17rem;
$detail-text-size: 0.75rem;

html {
  background-color: $medium;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: $body-width;
  margin: 0 auto;
  background-color: $lightest;
  font-family: $text-font;
  font-size: $text-size;
}

nav { color: $dark; }

main {
  clear: both;
  padding: $gutter-width;

  p, ul, ol, blockquote {
    margin: $inter-paragraph-space auto;
    padding: 0;
  }
  ol { list-style-type: decimal; }
  ul { list-style-type: disc; }
}

article { clear: both; }

footer {
  clear: both;
}

.banner {
  background-color: $dark;
  padding: 0.5em;

  h1, h2 {
    font-weight: normal;
    a { color: $light; }
  }
}

.book {
  clear: both;
  header h2 { padding-bottom: .5rem; }

  .cover {
    float:left;
    width: $left-column-width;
  }

  .description {
    margin-left: $left-column-width;
    padding-left: $gutter-width;
  }
}

.boxed {
  border-style: solid;
  background-color: $light;
  padding: 0.5em 1em;
}

.boxed, .chrome {
  border-color: $medium;
  border-width: 1px;
  background-color: $light;
}

.centered { text-align: center; }

.chrome {
  border-top-style: solid;
  border-bottom-style: solid;
  font-weight: bold;
  color: $dark;
  p, ul { margin: .5rem; }
}

.gallery .cover {
  display: inline-block;
  max-width: 15rem;
  margin: 1rem 5px 0;
}

.inline li {
  display: inline;
  margin-left: 0;
}

.piped li + li::before { content: ' | '; }

.retail ul { margin: 1.5rem 0; }

.see-also ul { margin-left: $gutter-width; }

.share { margin-left: 0; }

.title { font-variant: small-caps; }

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  color: $dark;
}

blockquote {
  border: 1px solid $medium;
  background-color: $light;

  p, em em { font-style: italic; }

  em, em em em { font-style: normal; }
}

em, em em em { font-style: italic; }

em em { font-style: normal; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  color: $dark;
}

h1 { font-size: $banner-title-size; }
h2 { font-size: $heading-1-size; }
h3 { font-size: $heading-2-size; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

li { margin: 0; }

ol, ul, menu { list-style: none; }

p, li, dt, dd { line-height: $leading; }

p, ul, ol, blockquote { padding: 0; }
