---
title: Available Now
layout: article
---

%section.post-list
  - page_articles.select{|book| book.data.available == 'now'}.sort{|a,b| a.slug <=> b.slug}.each do|book|
    %article.post
      = partial "layouts/book/header", locals: {book: book}
      = partial "layouts/book/purchase", locals: {book: book.data}

