---
title: Books from Driscoll Brook Press
layout: article
---

%h1 Available Now

%section.post-list
  - page_articles.select{|book| book.data.timing == 'new'}.sort{|a,b| a.slug <=> b.slug}.each do|book|
    %article.post
      = partial "layouts/book/header", locals: {book: book}
      = partial "layouts/book/purchase", locals: {book: book.data}

%h1 Coming Soon

%section.post-list
  - page_articles.select{|book| book.data.timing == 'soon'}.sort{|a,b| a.slug <=> b.slug}.each do|book|
    %article.post
      = partial "layouts/book/header", locals: {book: book}

