---
title: Coming Soon From Driscoll Brook Press
layout: article
---
%section.post-list
  - page_articles.select{|book| book.data[:available] && book.data.available != 'Now'}.sort{|a,b| a.date <=> b.date}.first.tap do|book|
    %article.post
      - link_to book.url do
        = image_tag cover_url(book), class: 'cover wrapped'
      = partial "layouts/book/header", locals: {book: book}
      = partial "layouts/book/body", locals: {body: book.body, book: book.data}
      = partial "layouts/book/publication", locals: {book: book.data}





