---
title: Coming Soon from Driscoll Brook Press
layout: article
---

%section.post-list
  - page_articles.select{|book| book.data.available == 'soon'}.sort{|a,b| a.slug <=> b.slug}.each do|book|
    %article.post
      = partial "layouts/book/header", locals: {book: book}
      = partial "layouts/book/body", locals: {body: book.body}

