---
title: Coming Soon From Driscoll Brook Press
layout: article
---
%section.post-list
  - page_articles.select{|book| book.data[:available] && book.data.available != 'Now'}.sort{|a,b| a.date <=> b.date}.first.tap do|book|
    %article.post
      = partial "layouts/book/full", locals: { book: book}





