---
title: New Releases From
layout: site-page
---

- catalog = Catalog.new(page_articles).new_releases.sort_by{|book| book.pubdate}.reverse
= partial 'layouts/descriptions', locals: { catalog: catalog}

