---
title: New Releases
layout: article
---

- catalog = Catalog.new(page_articles).new_releases.sort_by{|book| book.pubdate}.reverse
= partial "layouts/catalog/descriptions", locals: { catalog: catalog}

