$site-color: rgb(0%, 40%, 40%);

$dark: $site-color;
$medium: scale-saturation(scale-lightness($site-color, 50), -80);
$light: scale-saturation(scale-lightness($site-color, 90), -90);
$lightest: scale-saturation(scale-lightness($site-color, 98), -90);

@mixin plain-links($color) {
    @include link-colors($color, $color, $color, $color, $color);
    @include hover-link;
}

@mixin heading-color($color) {
    h1, h2 { color: $color; }
    a { @include plain-links($color); }
}

html {
    background-color: $lightest;
    color: black;
}

article {
    & > header {
        background-color: $dark;
        @include heading-color($light);
    }
}

article.book {
    & > header {
        border: 1px solid $medium;
        background-color: $light;
        @include heading-color($dark);
    }
}

nav, #footer {
    border: 1px solid $medium;
    background-color: $light;
    color: $medium;
    ul {
        a { @include plain-links($dark); }
    }
}

h1, h2 { color: $dark; }

a { @include plain-links($dark); }

blockquote {
    background-color: $light;
    border: 1px solid $medium;
}

