@import 'base/layout';

.blurb {
    img {
        float: right;
        margin: 0 0 2em 2em;
        width: 40%;
    }
}

.covers {
    img { width: 30%; }
}

.book-header { padding: .5em 1em; }

.book section {
    margin-top: 1em;
}

.see-also {
    ul { margin: 1em, 0; }
    li { margin: 0; }
}

.descriptions {
    .book {
        margin-top: 4em;
        &:first-child { margin-top: 2em; }
    }
}

.covers { margin-top: 2em; }

