
body { margin: 0 auto; }

.content, .book {
    margin: 2em;
}

article, nav, #footer { clear: both; }

nav, #footer { padding: .5em; } 

img { width: 30%; }

.blurb img {
    float: right;
    margin: 0 0 2em 2em;
}

h1, h2 { margin: 0; }

ul {
    margin: 1em, 0;
    li { margin: 0; }
}

p, ul, ol, li, blockquote {
    margin: 1em auto;
}

ul, ol, blockquote { margin-left: 2em; }

blockquote {
    margin-right: 2em;
    padding: 1em;
    p {
        &:last-child { margin-bottom: 0; }
    }
}

