@import 'base/typography';

.book-page {
    .book {
        header {
            h1 { color: blue; }
            h2 { color: green; }
        }
        section {
            h1 { color: red; }
        }
    }
}

