@import 'base/typography';

.book-header {
    background-color: $chrome-color;
    border: 1px solid $site-color;
    h2 { color: $site-color; }
}

.book section {
    header h1 { color: $site-color; }
}
