---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

    <link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/favicon.ico" rel="icon" />

    <title>{{ site.data.domain.title }} | {{ page.title }}</title>
  </head>
  <body>
    {% include page/banner.html %}
    {% include page/navbar.html %}
    {{ content }}
    {% include page/footer.html %}
  </body>
</html>
