---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta viewport='width=device-width' />
    <meta viewport='initial-scale=1' />
    <meta viewport='user-scalable=yes' />
    <title>{{ site.data.domain.title }} | {{ page.title }}</title>
    <link href='/favicon.ico' rel='icon' />
    <link href='/stylesheets/screen.css' media='screen,projection' rel='stylesheet' type='text/css' />
  </head>
  <body>
    {% include page/banner.html %}
    {% include page/navbar.html %}
    {{ content }}
    {% include page/footer.html %}
  </body>
</html>
