---
title: Coming Soon
---

- books = catalog.coming_soon

- if books.size > 0
  %article.catalog
    - books.each do |book|
      = partial 'layouts/description', locals: {book: book, cover_link: book.cover_link}
- else
  .centered
    %p
      We are working on our next release.
    %p
      In the meantime,
      here are some things you can do:
    %p
      Check out
      %a{href: '/'} our new releases
    %p
      Browse
      %a{href: '/books/'} our whole catalog
    %p
      Follow us
      %a{href: 'https://www.facebook.com/DriscollBrookPress'} on Facebook.
