$trim-color: scale-saturation(scale-lightness($site-color, 50), -80) !default;
$chrome-color: scale-saturation(scale-lightness($site-color, 90), -90) !default;
$content-background-color: scale-saturation(scale-lightness($site-color, 98), -90) !default;


$page-background-color: $trim-color !default;
$site-link-text-color: $site-color !default;

$banner-background-color: $site-color !default;
$banner-text-color: $content-background-color !default;

$navigation-text-color: $site-color !default;
$navigation-trim-color: $trim-color !default;
$navigation-background-color: $chrome-color !default;

$content-text-color: black !default;
$content-link-color: $site-color !default;
$content-link-background-color: $content-background-color !default;

$sidebar-text-color: $site-color !default;
$sidebar-background-color: $chrome-color !default;
$sidebar-trim-color: $trim-color !default;

$footer-text-color: $trim-color !default;
$footer-trim-color: $trim-color !default;
$footer-background-color: $chrome-color !default;

$blockquote-background-color: $chrome-color !default;
$blockquote-trim-color: $trim-color !default;

