body {
    max-width: 40em;
    margin: 0 auto;
}

#header {
    text-align: center;
    padding: 1.5em;
    h1, h2 {
        padding: .2em;
    }
}

.navigation-bar {
    padding: .5em;
}

#main {
    padding: 2em;
}

#footer {
    clear: both;
    padding: 1em;
    text-align: center;
}

.highlight {
    padding: 1em;
}

.gutter {
    padding-right: .5em;
}

