$text-font: $main-font-family !default;
$text-size-small: small !default;
$text-size-normal: medium !default;

$code-font: $mono-font-family !default;
$code-size: $text-size-small !default;
$navigation-text-size: $text-size-normal !default;

$heading-size-small: medium !default;
$heading-size-medium: large !default;
$heading-size-large: x-large !default;

$page-title-size: xx-large !default;

$banner-title-size: $page-title-size !default;
$banner-subtitle-size: $heading-size-medium !default;

$line-height-scale: 130% !default;

@mixin plain-links($color) {
    @include link-colors($color, $color, $color, $color, $color);
    @include hover-link;
}

@mixin text-size($size) {
    font-size: $size;
    line-height: $line-height-scale;
}

html {
    background-color: $page-background-color;
}

body {
    background-color: $content-background-color;
    font-family: $text-font;
    -webkit-text-size-adjust: 200%;
}


strong { font-weight: bold; }

em {
    font-style: italic;
    em {
        font-style: normal;
        em {
            font-style: italic;
        }
    }
}

a {
    @include plain-links($site-link-text-color);
}

p, ul, ol, li, blockquote, .highlight {
    margin-top: 1em;
    margin-bottom: 1em;
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
}

ol, ul, blockquote {
    margin-left: 2em;
}

ol { list-style-type: decimal; }
ul { list-style-type: disc; }

blockquote {
    background-color: $blockquote-background-color;
    border: 1px solid $blockquote-trim-color;
    margin-right: 2em;
    padding: 1em;
    p {
        font-style: italic;
        &:last-child { margin-bottom: 0; }
    }
    em {
        font-style: normal;
        em {
            font-style: italic;
            em {
                font-style: normal;
            }
        }
    }
}

pre, code {
    font-family: $code-font;
}

#header {
    background-color: $banner-background-color;
    color: $banner-text-color;
    h1 {
        @include text-size($banner-title-size);
        a { @include plain-links($banner-text-color); }
    }
    h2 { @include text-size($banner-subtitle-size); }
}

.navigation-bar {
    border-bottom: 1px solid $navigation-trim-color;
    background-color: $navigation-background-color;
    color: $navigation-text-color;
    @include text-size($navigation-text-size);
    text-align: center;
    ul {
        display: inline;
        color: $navigation-trim-color;
        @include delimited-list(" |");
        a {
            font-weight: bold;
            color: $navigation-text-color;
            @include plain-links($navigation-text-color);
        }
    }
}

.content {
    color: $content-text-color;
    @include text-size($text-size-normal);
    h1 { @include text-size($heading-size-large); }
    h2 { @include text-size($heading-size-medium); }
    h1, h2 {
        font-weight: bold;
        text-transform: capitalize;
    }
}

.page-header {
    h1 { @include text-size($page-title-size); }
}

#footer {
    border-top: 1px solid $footer-trim-color;
    background-color: $footer-background-color;
    color: $footer-text-color;
}

.site-link {
    text-transform: capitalize;
}

.highlight {
    @include text-size($code-size);
    overflow: scroll;
}

